body {
    background-image: url( "city.jpeg");
    background-repeat: repeat-y;
    background-size: 100%;
}

.results_list {
    background: rgba(255,255,255,0.7);
    position: relative;
    left: 500px;
    top: -450px;
    border-radius: 6px;
    width: 350px;
    color: rgba(0,0,0, 0.7);
    text-align: center;
    padding-bottom: 10px;
 }

.selector{
    width: 350px;
    height: 200px;
    position: relative;
    top: 100px;
    left: 50px;
    background: rgba(255,255,255,0.7);
    border-radius: 6px;

}

.add_city{
    width: 350px;
    height: 350px;
    position: relative;
    left: 50px;
    top: 200px;
    background: rgba(255,255,255,0.7);
    border-radius: 6px;

}


.form-control{
    width: 250px;
    position:relative;
    left: 12%;
    top: 10%;
}


.btn{
    width: 250px;
    position:relative;
    left: 12%;
    background-color: rgba(0,0,250, 0.8);
}

.add_city{
    justify-content: space-around;
}

.menu_title{
    background: rgba(0,0,250, 0.8);
    color:white;
    text-align: center;
    border-radius: 6px;
}