<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">

    {% if title %}
        <title>Title {{ title }}</title>
    {% else %}
        <title>Title</title>
    {% endif %}


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <div class ="container">
         <form action="/results" id="CitySelection" method="GET">
    <div class="selector">
        <select class="form-control" name="CitySelection" required>
            <option value="" selected disabled hidden>Choose here</option>
            {% for cities in cities %}
                <option value="{{ cities.id }}">{{ cities.city }} </option>
            {% endfor %}
        </select>
        <br>
        <br>
        <br>
        <button class="btn btn-primary" type="submit" value="Start">
                Results
        </button>
    </div>
</form>
        {% block content %} {% endblock %}
    </div>

</body>
</html>